body {
    font-family: "Poppins", serif;
    background-color: #f5f5f5;
    font-size: small;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.event-section {
    padding: 10px;
    margin-top: 20px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    flex: 1 1 25%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: #131313;
}

.event-card h3 {
    margin-top: 0;
}

.event-card p {
    margin-bottom: 5px;
}

.event-title-container {
    display: flex;
    justify-content: space-between;
}
.event-actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: large;

}
.event-title-container button {
    color: #c71d1d;
}

.a-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.index-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center
}
.delete-button {
    cursor: pointer;
}

.event-actions a{
    text-decoration: none;
}
.event-actions a:hover {
   font-size: x-large;
}
.event-actions span:hover {
    font-size: x-large;
}
.event-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: sticky;
    top: 0;
    padding: 0 20px;
    box-shadow: 0 4px 14px 2px #817c7c;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.a-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.a-button.red {
    background-color: #dc3545;
}

.a-button.red:hover {
    background-color: #c82333;
}
